/* importing  font style  roboto and poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500family=Roboto:wght@400;700&display=swap');

/* re-set our page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/* some global variable */
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#090b0d;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
    /* overflow: hidden; */
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}



/* utility class */

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
    /* to remove black space at right side */
    /* overflow: hidden; */
}

.flex{
    display: flex;
    align-items: center;
}

.primary-btn{
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: white !important;
    padding: 12px 24px;
    font-weight: bold;
    transition: 0.2s ease-out;
    background-color: var(--accent-color);
    box-shadow: 5px 5px 2px var(--secondary-text-color);
}
.primary-btn:hover{
    background-color: var(--accent-color-dark);
    box-shadow: -5px -5px 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}


.primary-heading{
    /* border: 2px solid rebeccapurple; */
    color: var(--primary-text-color);
    margin-block: 50px;
    padding: 20px;
    text-align: center;
}

/* hamburger section */
.hover-link{
    display: none;
}

/* styling nav bar */


.nav-bar{
    /* border: 2px solid yellow; */
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    /* overflow: hidden; */
}
/* .logo{
    border: 2px solid black;
} */
.logo img{
    cursor: pointer;
    max-height: 46px;
    max-width: 166px;
}

.nav-links-menu{
    /* border: 2px solid red; */
    padding: 10px;
}
.nav-links-menu ul {
    display: flex;
    gap: 50px;
    /* color: red; */
    /* font-size: 1.125rem; */
}
.nav-links-menu ul li a{
    color: black;
    font-weight: bold;
}
.nav-links-menu ul :hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}


.nav-links{
    /* border: 2px solid black; */
     gap: 50px;
}


/* sytling poster section */
 
.bg-img img{
    height: 408px;
    margin-top: 30px;
    width: 100%;
    background-size: contain;
}

.bg-heading{
    /* border: 2px solid red; */
    position: absolute;
    top: 40%;
    left: 40%;
    
}
.bg-heading h1{
    color: white;
    font-size: 5vw ;
    word-wrap: break-word;
    list-style: none; 
} 

/* styling map section */

.map{
    margin-block: 100px;
    /* border: 2px solid black; */
    /* max-height: 1000px; */
}
.map iframe{
    width: 100%;
    height: 60vh;
    border: 2px solid black;
    border-radius: 15px;
}


/* styling contact section  */
.contact-section{
    /* border: 2px solid red; */
    flex-direction: column;
    width: 100%;
    gap: 50px;
    margin-top: 40px;
}
.contact-section textarea{
    width: 70%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    font-weight: bolder;
    color:black;
    background-color: #d8e0e8;
}
.contact-btn{
    width: 20%;
}
.contact-inner{
display: flex;
gap: 100px;
/* border: 2px solid red; */
width: 100%;
justify-content: center;
/* justify-content: space-evenly; */
/* flex-direction: column; */
}
.contact-inner-left{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}
.contact-inner-left input{
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #d8e0e8;
}
.contact-inner-right input{
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #d8e0e8;
}

.contact-inner-right{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}

/* styling contact-details */
.contact-details{
    padding: 20px;
    background-color: #5ebadb;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 15px;
    width: 60%;
    flex-direction: column;
    gap: 50px;
}
.contact-details div{
    /* border: 2px solid yellow; */
    width: 100%;

}



/* styling payment btn   */

.payment-btn{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 80px;
    padding-block: 50px;
    background-color: #b6d2ea;
}
.payment-btn form{
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
}




/* styling donation sextion  */
.donation-section{
    background-image: url('img/gallery-27.jpg');
    /* background-repeat: no-repea  t; */
    /* background-size: contain; */
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7 linear;
    background-color: #13945c;
    margin-bottom: 100px;
}
.donation{
    margin-top: 100px;
    height: 348px;
    justify-content: space-around;
}
.donation h2{
    color: white;
}
.donation button{
    width: 250px;
}

/* stylimg footer section */

footer{
    background-color: #00425A;
    padding-block: 80px;
    width: 100%;
}
.footer-links:hover{
    transition: 0.2s ease-out;
    color: var(--accent-color);
}
.footer-container a img{
    width: 200px;
}
/* .footer-container a img{
    width: 100%;
} */
.footer-part1{
    width: 20%;
    color: white;
}
.footer-part1 p{
    font-size: 1rem ;
    text-align: justify;
    color: white;
}
.footer-part2{
    width: 20%;
    color: white;
}
.footer-part2 a{
    color: white;
}
.footer-part3{
    width: 20%;
    color: white;
}
.footer-part3 div p{
    font-size: 1rem;
    color: white;
}
.link-column{
    flex-direction: column;
}

.footer-container{
    justify-content: space-between;
    align-items: flex-start;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


.sub-footer p{
    background-color: #013141;
    color: white;
    padding-block: 10px;
    text-align: center;
    font-size: 1rem;
}
