/* importing  font style  roboto and poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500family=Roboto:wght@400;700&display=swap');

/* re-set our page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/* some global variable */
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#090b0d;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
    /* overflow: hidden; */
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}



/* utility class */

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
    /* to remove black space at right side */
    /* overflow: hidden; */
}

.flex{
    display: flex;
    align-items: center;
}

.primary-btn{
    cursor: pointer;
    font-size: 1.25rem;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: white !important;
    padding: 12px 24px;
    font-weight: bold;
    transition: 0.2s ease-out;
    background-color: var(--accent-color);
    box-shadow: 5px 5px 2px var(--secondary-text-color);
}
.primary-btn:hover{
    background-color: var(--accent-color-dark);
    box-shadow: -5px -5px 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}


.primary-heading{
    /* border: 2px solid rebeccapurple; */
    color: var(--primary-text-color);
    margin-block: 50px;
    padding: 20px;
    text-align: center;
}

/* hamburger section */
.hover-link{
    display: none;
}






/* styling nav bar */


.nav-bar{
    /* border: 2px solid yellow; */
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    /* overflow: hidden; */
}
/* .logo{
    border: 2px solid black;
} */
.logo img{
    cursor: pointer;
    max-height: 46px;
    max-width: 166px;
}

.nav-links-menu{
    /* border: 2px solid red; */
    padding: 10px;
}
.nav-links-menu ul {
    display: flex;
    gap: 50px;
    /* color: red; */
    /* font-size: 1.125rem; */
}
.nav-links-menu ul li a{
    color: black;
    font-weight: bold;
}
.nav-links-menu ul :hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}


.nav-links{
    /* border: 2px solid black; */
     gap: 50px;
}


/* sytling poster section */

.bg-img img{
    margin-top: 30px;
    width: 100%;
}

.bg-heading{
    /* border: 2px solid red; */
    position: absolute;
    top: 150px;
    left: 15px;
    
}
.bg-heading h1{
    color: black;
    font-size: 4vw ;
    word-wrap: break-word;
    list-style: none; 
    text-transform: uppercase;
    word-spacing: 25px;
}
.bg-heading h3{
    text-align: right;
    font-size: 2vw;
}

/* stying intro dextion  */

.intro{
    justify-content: space-between;
    gap: 50px;
}
.intro img{
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 30vw;
    /* height: 305px; */
    /* height: 100vh; */
    background-size: cover;
    transition: 0.2s ease-out;
    box-shadow: 5px 5px 2px var(--accent-color-dark);
    transition: transform 0.2s ;
}
.intro img:hover{
    box-shadow: -5px -5px 2px var(--accent-color-dark);
    transition: 0.2s ease-out;
    transform: scale(1.5);
}

.intro p{
    /* border: 2px solid red; */
    text-align: justify;
    width: 60vw;
    /* width: 50%; */
    
}

/* styling organization part  */

.organization{
    flex-direction: row-reverse;
}
.organization img{
    height: 375px;
}



/* styling latest causes */
.latest-causes iframe{
    width: 40vw;
    height: 75vh;
    border-radius: 15px ;
    /* background-image: linear-gradient(green,blue); */
}

.latest-causes{
    gap: 50px;
}

.latest-causes-right{
    flex-direction: column;
    gap: 30px;
    width: 60vw;
}

.latest-causes-right p{
    text-align: justify;
}
.latest-causes-right button{
    width: 200px;
}

/* styling popular causes  */
.popular-causes{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.popular-causes-box{
    /* border: 2px solid red; */
    width: 30%; 
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
}
.popular-causes-box  img{
    width: 100%;
    border-radius: 15px;
   height: 223px;
}

.popular-causes-box-inner{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 2px solid rgb(133, 103, 108); */
    background-color:  #6096B4;
    height: 370px;
}

.popular-causes-box-inner h4{
    margin-top: 20px;
}

.popular-causes-box-inner:hover{
    /* border: 2px solid red; */
    background-color: #93BFCF ;
    transition: 0.2s ease-out;
}

.popular-causes-box-inner p{
    text-align: justify;
    font-size: 1rem;
    padding: 20px;
}

.popular-causes-box-inner p,a:hover{
    color: black;
    transition: 0.2s ease-out;
}

.popular-causes-box-inner a{
    /* border: 2px solid yellow; */
    padding: 10px;
}



/* styling donation sextion  */
.donation-section{
    background-image: url('img/gallery-27.jpg');
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7 linear;
    /* background-color: #13945c; */
}
.donation{
    margin-top: 100px;
    height: 348px;
    justify-content: space-around;
}
.donation h2{
    color: white;
}
.donation button{
    width: 250px;
}

/* styling volunteer section  */
.volunteer{
    /* border: 2px solid red; */
    justify-content: center;
    text-align: center;
    gap:20px;
    margin-bottom: 100px;
    /* justify-content: space-around; */
}
.volunteer div{
    /* height: 390px; */
    width: 40vw;
    /* gap: 100px; */
}
.volunteer div img{
    /* background-size: contain; */
    width: 100%;
}
.volunteer-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.volunteer-form form input{
    padding: 10px;
    background-color: #f1f2f5;
    width: 400px;
}
.volunteer-form form textarea{
    padding: 10px;
    /* border: 2px; */
    background-color: #f1f2f5;
    width: 400px;
}
.volunteer-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 60vw; */
}
.volunteer-form button{
    width: 100px;
}




/* stylimg footer section */

footer{
    background-color: #00425A;
    padding-block: 80px;
    width: 100%;
}
.footer-links:hover{
    transition: 0.2s ease-out;
    color: var(--accent-color);
}
.footer-container a img{
    width: 200px;
}
/* .footer-container a img{
    width: 100%;
} */
.footer-part1{
    width: 20%;
    color: white;
}
.footer-part1 p{
    font-size: 1rem ;
    text-align: justify;
    color: white;
}
.footer-part2{
    width: 20%;
    color: white;
}
.footer-part2 a{
    color: white;
}
.footer-part3{
    width: 20%;
    color: white;
}
.footer-part3 div p{
    font-size: 1rem;
    color: white;
}
.link-column{
    flex-direction: column;
}

.footer-container{
    justify-content: space-between;
    align-items: flex-start;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}


.sub-footer p{
    background-color: #013141;
    color: white;
    padding-block: 10px;
    text-align: center;
    font-size: 1rem;
}
